---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

A copy of my CV can be found [Here](http://woojungbae.github.io/files/CV.pdf)

Education
======
* Ph.D in Statistics, University of Florida, 2023 (expected)
  - Under the supervision of Dr. Michael Daniels
* M.A. in Statistics, Yonsei University, Korea, 2018
  - Under the supervision of Dr. Sangwook Kang
* B.S. in Mathematics and B.E. in Economics, KyungHee University, Korea, 2016

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
